.navbar {
  background-color: orange;
  padding: 10px 20px;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-item {
  border-radius: 8px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: medium;
  padding: 6px 12px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover {
  background-color: rgba(255, 255, 0, 0.7);
  color: black;
}

.nav-item.active .nav-link {
  background-color: yellow;
  color: black;
}

#logout-button {
  background-color: yellow;
  border-radius: 8px;
  padding: 6px 12px;
  border: none;
  font-weight: bold;
  font-size: medium;
  transition: background-color 0.3s, color 0.3s;
  border: none;
  cursor: pointer;
  text-decoration: none;
}
