.login-container {
    max-width: 400px;
    margin: 60px auto;
    padding: 30px;
    background-color: #333;
    color: #f0f0f0;
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

.login-title {
    text-align: center;
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-form label {
    font-weight: bold;
    margin-bottom: 5px;
}

.login-form input {
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 1rem;
}

.login-form input:focus {
    box-shadow: 0 0 5px #2979ff;
}

.login-error {
    color: #e63946;
    text-align: center;
    margin-bottom: 10px;
}

.button-login{
    color: black;
    background-color: yellow;
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    font-weight: bold;

}